/target
.DS_Store
.btcdeb_history
components/txtx-web-ui/node_modules
components/txtx-web-ui/.parcel-cache
.env
components/txtx-addon-network-evm/src/tests/fixtures/foundry/out/build-info
components/txtx-addon-network-evm/src/tests/fixtures/foundry/cache
state.json
components/addons/evm/src/tests/fixtures/foundry/cache/solidity-files-cache.json
