/target
.DS_Store
.btcdeb_history
crates/txtx-supervisor-ui/node_modules
crates/txtx-supervisor-ui/.parcel-cache
.env
addons/evm/src/tests/fixtures/foundry/out/build-info
addons/sp1/examples/fibonacci/contracts/lib
addons/sp1/examples/fibonacci/contracts/cache
# addons/sp1/examples/fibonacci/contracts/out
state.json
addons/sp1/examples/fibonacci-target/program/target
addons/sp1/examples/fibonacci/program/target
