[workspace.package]
version = "0.1.15"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/txtx/txtx"
keywords = ["txtx", "smart-contracts", "devops", "secops", "blockchains"]
categories = ["cryptography"]

[workspace]
members = [
    "crates/txtx-cli",
    "crates/txtx-core",
    "crates/txtx-addon-kit",
    "crates/txtx-lsp",
    "addons/bitcoin",
    "addons/evm",
    "addons/stacks",
    "addons/svm",
    "addons/telegram",
    "addons/sp1", 
]
default-members = ["crates/txtx-cli"]
resolver = "2"

[workspace.dependencies]
txtx-addon-kit = { path = "crates/txtx-addon-kit", default-features = false }
txtx-core = { path = "crates/txtx-core", default-features = false }
txtx-gql = { path = "crates/txtx-gql" }
txtx-addon-network-evm = { path = "addons/evm" }
txtx-addon-network-bitcoin = { path = "addons/bitcoin" }
txtx-addon-network-stacks = { path = "addons/stacks" }
txtx-addon-network-svm = { path = "addons/svm" }
txtx-addon-telegram = { path = "addons/telegram" }
txtx-addon-sp1 = { path = "addons/sp1" }

[patch.crates-io]
solana-curve25519 =  { git = "https://github.com/txtx/solana", subdir = "curves/curve25519" }
solana-program = { git = "https://github.com/txtx/solana", subdir = "sdk/program" }
solana-zk-sdk = { git = "https://github.com/txtx/solana", subdir = "zk-sdk" }
solana-zk-token-sdk = { git = "https://github.com/txtx/solana", subdir = "zk-token-sdk" }
