[package]
name = "txtx-addon-network-evm"
version = "0.1.0"
edition = "2021"

[dependencies]
sha2 = "0.10.8"
txtx-addon-kit = { workspace = true, default-features = false }
lazy_static = "1.4.0"
hmac = "0.12.0"
pbkdf2 = { version = "0.12.2", features = ["simple"], default-features = false }
tiny-hderive = { version = "0.3.0" }
libsecp256k1 = { version = "0.7.0" }
serde_json = { version = "1.0.113", features = ["arbitrary_precision"] }
serde = "1"
serde_derive = "1"
async-recursion = "1"
alloy = { version = "0.1", features = ["full", "rlp", "eip712"] }
alloy-provider = { version = "0.1", features = ["debug-api"] }
alloy-rpc-types = { version = "0.1", features = ["trace"] }
alloy-signer-local = { version = "0.1.4", features = ["mnemonic"] }
thiserror = "1.0.62"
toml = "0.5"
foundry-block-explorers = "0.5.0"
alloy-chains = "0.1.23"
dotenvy_macro = "0.15.7"

[features]
default = ["txtx-addon-kit/default"]
wasm = [
  "txtx-addon-kit/wasm",
]

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"
