name: Build Binaries
on:
  push:
    branches:
      - main
      - improve-ci
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  dist_txtx:
    name: Build Txtx Distributions
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            platform: linux
            target: x86_64-unknown-linux-musl
            architecture: x64

    steps:


      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: txtx
          
      - name: Build .env file
        run: |
          touch .env
          echo RELAYER_BASE_URL="https://txtx.link" >> .env
          echo RELAYER_HOST="txtx.link" >> .env
          echo INFURA_API_KEY=${{ secrets.INFURA_API_KEY }} >> .env
          cat .env

      - name: Checkout Web UI
        uses: actions/checkout@v4
        with:
          repository: txtx/txtx-web-ui
          token: ${{ secrets.TXTX_ACCESS_TOKEN }} 
          path: txtx-web-ui 

      - name: Build .env file for Web UI
        run: |
          cd txtx-web-ui
          touch .env
          echo HANKO_API_URL=${{ secrets.HANKO_API_URL }} >> .env
          cat .env
          cd ..

      - name: Build Web UI
        run: |
          cd txtx-web-ui
          npm i
          npm run build
          cd ..

      - name: Build-musl
            uses: gmiam/rust-musl-action@master
            with:
              args: cargo build --manifest-path ./txtx/Cargo.toml --target ${{ matrix.target }} --release


      

        
      # Don't compress for Windows because winget can't yet unzip files
      - name: Compress cargo artifact (Linux)
        if: matrix.os != 'windows-latest'
        run: tar -C txtx/target/${{ matrix.target }}/release -zcvf txtx-${{ env.SHORT_TARGET_NAME }}.tar.gz txtx


      # Separate uploads to prevent paths from being preserved
      - name: Upload cargo artifacts (Linux)
        if: matrix.os != 'windows-latest'
        uses: actions/upload-artifact@v2
        with:
          name: txtx-${{ env.SHORT_TARGET_NAME }}
          path: txtx-${{ env.SHORT_TARGET_NAME }}.tar.gz



      - name: Upload to S3 (Linux)
        if: matrix.os != 'windows-latest'
        uses: hkusu/s3-upload-action@v2
        id: upload_linux
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-2'
          aws-bucket: txtx-public
          file-path: txtx-${{ env.SHORT_TARGET_NAME }}.tar.gz
          output-file-url: 'true' 
          destination-dir: /releases
          bucket-root: /
          public: true
      - name: Show URL (Linux)
        if: matrix.os != 'windows-latest'
        run: echo '${{ steps.upload_linux.outputs.file-url }}' 

      - name: Upload to S3 (Windows)
        if: matrix.os == 'windows-latest'
        uses: hkusu/s3-upload-action@v2
        id: upload_windows
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-2'
          aws-bucket: txtx-public
          file-path: txtx-${{ env.SHORT_TARGET_NAME }}.msi
          output-file-url: 'true' 
          destination-dir: /releases
          bucket-root: /
          public: true
      - name: Show URL (Windows)
        if: matrix.os == 'windows-latest'
        run: echo '${{ steps.upload_windows.outputs.file-url }}'
